<div class="container">
    <div class="header-top">
        <div class="logo">
            <a href="/"><span class="logo-icon">PCStore</span></a>
            <button class="location-btn">
                <i class="ri-map-pin-2-fill"></i>
            </button>
        </div>
        <div class="search-bar">
            <form action="/search" method="post">
                <input type="text" name="search" id="search" placeholder="Bạn cần tìm gì?">
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>
        </div>
        <div class="nav-icons">
            <a href="/xay-dung-cau-hinh" class="nav-icon">
                <i class="ri-computer-line"></i>
                <span>Xây Dựng Cấu Hình</span>
            </a>
            <a href="#" class="nav-icon">
                <i class="ri-phone-fill"></i>
                <span>Khách Hàng Liên Hệ</span>
            </a>
            <a href="#" class="nav-icon">
                <i class="ri-newspaper-fill"></i>
                <span>Tin Tức Công Nghệ</span>
            </a>
            <a href="/cart" class="nav-icon" style="position: relative;">
                <i class="ri-shopping-cart-2-fill"></i>
                <span class="cart-count" style="color: red"><%= locals.cartCount || 0 %></span>
                <span>Giỏ Hàng</span>
            </a>
            <% if (locals.user) { %>
                <a href="/profile" class="nav-icon">
                    <i class="ri-account-circle-fill"></i>
                    <span><%= user.username %></span>
                </a>
                <a href="/logout" class="nav-icon">
                    <i class="ri-logout-box-r-line"></i>
                    <span>Đăng xuất</span>
                </a>
            <% } else { %>
                <a href="/login" class="nav-icon">
                    <i class="ri-account-circle-fill"></i>
                    <span>Tài Khoản</span>
                </a>
            <% } %>
        </div>
    </div>
</div>