<div class="container">
    <div class="menu-container">
        <div class="hamburger-menu">
            <i>☰</i>
            <span>DANH MỤC SẢN PHẨM</span>
            <div class="dropdown-menu">
                <a href="/pc-gaming">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/pcgaming-icon.png" alt="">
                        <span>PC GAMING</span>
                    </div>
                </a>
                <a href="/pc-workstation">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/pcdohoa-icon.png" alt="">
                        <span>PC ĐỒ HỌA - LÀM VIỆC</span>
                    </div>
                </a>
                <a href="/pc-office">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/pcvanphonggiare-icon.png" alt="">
                        <span>PC VĂN PHÒNG GIÁ RẺ</span>
                    </div>
                </a>
                <a href="/view/components">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/linhkienmaytinh-icon.png" alt="">
                        <span>LINH KIỆN MÁY TÍNH</span>
                    </div>
                </a>
                <a href="/monitor">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/manhinh-icon.png" alt="">
                        <span>MÀN HÌNH MÁY TÍNH</span>
                    </div>
                </a>
                <a href="/view/laptop">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/laptop-icon.png" alt="">
                        <span>LAPTOP</span>
                    </div>
                </a>
                <a href="/storagedevice">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/tbluutru-icon.png" alt="">
                        <span>THIẾT BỊ LƯU TRỮ</span>
                    </div>
                </a>
                <a href="/cooling">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/cooler-icon.png" alt="">
                        <span>TẢN NHIỆT PC - COOLING</span>
                    </div>
                </a>
                <a href="/gear">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/gear-icon.png" alt="">
                        <span>PHÍM CHUỘT, GEAR</span>
                    </div>
                </a>
                <a href="/view/networking">
                    <div class="dropdown-item">
                        <img src="/client/images/icons/tbmang-icon.png" alt="">
                        <span>THIẾT BỊ MẠNG</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="category-nav">
            <div class="category-item dropdown">
                <a href="/pc" class="category-link">
                    <i class="bi bi-pc"></i>
                    <span>PC</span>
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="/pc-gaming" class="dropdown-item">PC Gaming</a>
                    <a href="/pc-van-phong" class="dropdown-item">PC Văn phòng</a>
                    <a href="/pc-do-hoa" class="dropdown-item">PC Đồ họa/Làm việc</a>
                </div>
            </div>

            <div class="category-item dropdown">
                <a href="/laptop" class="category-link">
                    <i class="bi bi-laptop"></i>
                    <span>Laptop</span>
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="/laptop-gaming" class="dropdown-item">Laptop Gaming</a>
                    <a href="/laptop-van-phong" class="dropdown-item">Laptop Văn phòng</a>
                    <a href="/laptop-do-hoa" class="dropdown-item">Workstation</a>
                </div>
            </div>

            <div class="category-item dropdown">
                <a href="/linh-kien" class="category-link">
                    <i class="bi bi-pc-display-horizontal"></i>
                    <span>Linh kiện</span>
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="/cpu-vi-xu-ly" class="dropdown-item">CPU</a>
                    <a href="/card-do-hoa-gpu" class="dropdown-item">GPU</a>
                    <a href="/ram" class="dropdown-item">RAM</a>
                    <a href="/o-cung-ssd" class="dropdown-item">SSD/HDD</a>
                    <a href="/mainboard" class="dropdown-item">Mainboard</a>
                    <a href="/nguon-may-tinh" class="dropdown-item">PSU</a>
                    <a href="/vo-case" class="dropdown-item">Case</a>
                    <a href="/tan-nhiet-pc" class="dropdown-item">Cooling</a>
                </div>
            </div>

            <div class="category-item dropdown">
                <a href="/thiet-bi-ngoai-vi" class="category-link">
                    <i class="bi bi-mouse"></i>
                    <span>Thiết bị ngoại vi</span>
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="/man-hinh" class="dropdown-item">Màn hình</a>
                    <a href="/ban-phim" class="dropdown-item">Bàn phím</a>
                    <a href="/chuot" class="dropdown-item">Chuột</a>
                    <a href="/tai-nghe" class="dropdown-item">Tai nghe</a>
                    <a href="/webcam" class="dropdown-item">Webcam</a>
                </div>
            </div>

            <div class="category-item dropdown">
                <a href="/tan-nhiet-pc" class="category-link">
                    <i class="bi bi-router"></i>
                    <span>Tản Nhiệt PC</span>
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="/tan-nhiet-khi" class="dropdown-item">Tản Nhiệt Khí</a>
                    <a href="/tan-nhiet-nuoc" class="dropdown-item">Tản Nhiệt Nước</a>
                    <a href="/quat-tan-nhiet" class="dropdown-item">Quạt Tản Nhiệt</a>
                </div>
            </div>

            <div class="category-item dropdown">
                <a href="/phu-kien-cap" class="category-link">
                    <i class="bi bi-cable"></i>
                    <span>Khác</span>
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <div class="dropdown-menu">
                    <a href="/cable" class="dropdown-item">Cáp kết nối</a>
                    <a href="/arm-man-hinh" class="dropdown-item">Arm màn hình</a>
                </div>
            </div>
        </div>
    </div>
</div>