<!-- Banner trái -->
<div class="side-banner side-banner-left">
    <a href="#">
        <img src="/client/images/bannerleft.jpg" alt="Banner Left">
    </a>
</div>

<!-- Banner phải -->
<div class="side-banner side-banner-right">
    <a href="#">
        <img src="/client/images/bannerright.jpg" alt="Banner Right">
    </a>
</div>