NODE_ENV = development
PORT = 8080



DATABASE_URL=""

GHN_TOKEN=
GHN_SHOP_ID=
GHN_API_URL=
GHN_FROM_DISTRICT_ID=
GHN_FROM_WARD_ID=
GHN_SERVICE_ID=
GHN_SERVICE_TYPE_ID=
GHN_DEFAULT_WEIGHT=500
GHN_DEFAULT_LENGTH=20
GHN_DEFAULT_WIDTH=15
GHN_DEFAULT_HEIGHT=5
GHN_FALLBACK_FEE=2500