<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ Quản Trị - <%= title %></title>
    <link rel="stylesheet" href="/admin/css/style.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/48.0.0/ckeditor5.css" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script>
        $(document).ready(() => {
            const avatarFile = $("#avatarFile");
            avatarFile.change(function (e) {
                const imgURL = URL.createObjectURL(e.target.files[0]);

                $("#avatarPreview").attr("src", imgURL);
                // $("#avatarPreview").css({
                //     "display": "block"
                // });
            });
        });
    </script>
</head>

<body>

    <!-- SIDEBAR -->
    <%- include('../layout/sidebar') -%>

        <!-- MAIN -->
        <main class="main">
            <!-- HEADER -->
            <%- include('../layout/header') -%>

                <div class="content">
                    <%- body %>
                </div>
        </main>
</body>

</html>